<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangchun.yangdemo.mapper.eduCourseMapper">
  <resultMap id="BaseResultMap" type="com.yangchun.yangdemo.pojo.eduCourse">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="teacher_id" jdbcType="CHAR" property="teacherId" />
    <result column="subject_id" jdbcType="CHAR" property="subjectId" />
    <result column="subject_parent_id" jdbcType="CHAR" property="subjectParentId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="lesson_num" jdbcType="INTEGER" property="lessonNum" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="buy_count" jdbcType="BIGINT" property="buyCount" />
    <result column="view_count" jdbcType="BIGINT" property="viewCount" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, teacher_id, subject_id, subject_parent_id, title, price, lesson_num, cover, buy_count, 
    view_count, version, status, is_deleted, gmt_create, gmt_modified
  </sql>
  <select id="selectByExample" parameterType="com.yangchun.yangdemo.pojo.eduCourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from edu_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edu_course
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from edu_course
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yangchun.yangdemo.pojo.eduCourseExample">
    delete from edu_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yangchun.yangdemo.pojo.eduCourse">
    insert into edu_course (id, teacher_id, subject_id, 
      subject_parent_id, title, price, 
      lesson_num, cover, buy_count, 
      view_count, version, status, 
      is_deleted, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=CHAR}, #{teacherId,jdbcType=CHAR}, #{subjectId,jdbcType=CHAR}, 
      #{subjectParentId,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{lessonNum,jdbcType=INTEGER}, #{cover,jdbcType=VARCHAR}, #{buyCount,jdbcType=BIGINT}, 
      #{viewCount,jdbcType=BIGINT}, #{version,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, 
      #{isDeleted,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yangchun.yangdemo.pojo.eduCourse">
    insert into edu_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="subjectParentId != null">
        subject_parent_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="lessonNum != null">
        lesson_num,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="buyCount != null">
        buy_count,
      </if>
      <if test="viewCount != null">
        view_count,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="teacherId != null">
        #{teacherId,jdbcType=CHAR},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=CHAR},
      </if>
      <if test="subjectParentId != null">
        #{subjectParentId,jdbcType=CHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="lessonNum != null">
        #{lessonNum,jdbcType=INTEGER},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="buyCount != null">
        #{buyCount,jdbcType=BIGINT},
      </if>
      <if test="viewCount != null">
        #{viewCount,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yangchun.yangdemo.pojo.eduCourseExample" resultType="java.lang.Long">
    select count(*) from edu_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update edu_course
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.teacherId != null">
        teacher_id = #{record.teacherId,jdbcType=CHAR},
      </if>
      <if test="record.subjectId != null">
        subject_id = #{record.subjectId,jdbcType=CHAR},
      </if>
      <if test="record.subjectParentId != null">
        subject_parent_id = #{record.subjectParentId,jdbcType=CHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.lessonNum != null">
        lesson_num = #{record.lessonNum,jdbcType=INTEGER},
      </if>
      <if test="record.cover != null">
        cover = #{record.cover,jdbcType=VARCHAR},
      </if>
      <if test="record.buyCount != null">
        buy_count = #{record.buyCount,jdbcType=BIGINT},
      </if>
      <if test="record.viewCount != null">
        view_count = #{record.viewCount,jdbcType=BIGINT},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update edu_course
    set id = #{record.id,jdbcType=CHAR},
      teacher_id = #{record.teacherId,jdbcType=CHAR},
      subject_id = #{record.subjectId,jdbcType=CHAR},
      subject_parent_id = #{record.subjectParentId,jdbcType=CHAR},
      title = #{record.title,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      lesson_num = #{record.lessonNum,jdbcType=INTEGER},
      cover = #{record.cover,jdbcType=VARCHAR},
      buy_count = #{record.buyCount,jdbcType=BIGINT},
      view_count = #{record.viewCount,jdbcType=BIGINT},
      version = #{record.version,jdbcType=BIGINT},
      status = #{record.status,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=TINYINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yangchun.yangdemo.pojo.eduCourse">
    update edu_course
    <set>
      <if test="teacherId != null">
        teacher_id = #{teacherId,jdbcType=CHAR},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=CHAR},
      </if>
      <if test="subjectParentId != null">
        subject_parent_id = #{subjectParentId,jdbcType=CHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="lessonNum != null">
        lesson_num = #{lessonNum,jdbcType=INTEGER},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="buyCount != null">
        buy_count = #{buyCount,jdbcType=BIGINT},
      </if>
      <if test="viewCount != null">
        view_count = #{viewCount,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yangchun.yangdemo.pojo.eduCourse">
    update edu_course
    set teacher_id = #{teacherId,jdbcType=CHAR},
      subject_id = #{subjectId,jdbcType=CHAR},
      subject_parent_id = #{subjectParentId,jdbcType=CHAR},
      title = #{title,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      lesson_num = #{lessonNum,jdbcType=INTEGER},
      cover = #{cover,jdbcType=VARCHAR},
      buy_count = #{buyCount,jdbcType=BIGINT},
      view_count = #{viewCount,jdbcType=BIGINT},
      version = #{version,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>